<div class="container card mt">
    <table class="table table-striped table-responsive-md btn-table table-bordered">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>District Name</th>
          <th>Total cases</th>
          <th>Active</th>
          <th>Recovered</th>
          <th>Deaths</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of filteredDistricts | keyvalue  let i = index">
          <td class="text-center">{{i+1}}</td>
          <td class="ml-9">{{ d.key }}</td>
          <td><div class="rounded total item ">{{ d.value.confirmed }}</div></td>
          <td><div class="rounded active item ">{{ d.value.active }}</div></td>
          <td><div class="rounded rec item ">{{ d.value.recovered }}</div></td>
          <td><div class="rounded death item ">{{ d.value.deceased }}</div></td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class=" row text-center mt-5">
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      </div>
