.item {
    width: 45px;
    margin: auto;
    text-align: center;
}
th{
    text-align: center;
}
.rec {
    background-color: #9be89c;
  }
.death {
    background-color:  #fe8683;
}
.total {
    background-color: #a5c9fd;
}
.active {
    background-color: #fda682;
}
.state{
    background-color:#fff1b0
}